
<br>
<form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
        <input type="hidden" name="Task_ID" #User_ID="ngModel" 
        [(ngModel)]="taskService.selectedTask.Task_ID">
<div class="container">
  <div class="row">
      <div class="col-md-2">
          <label for="Project">Project:</label>
      </div>    
      <div class="col-md-3">
          <input type="text" name="ProjectName" #ProjectName="ngModel"  [(ngModel)]="taskService.selectedTask.Project"
           id="projectName"  class="form-control"/>        
      </div>
      <div class="col-md-2">
       <button value="Search" class="btn btn-primary btn-round-sm btn-sm">Search</button>
      </div>    
  </div>
  <!-- ----COde for Modal -->
  <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">UsersList</h4>
            </div>
            <div class="modal-body">            
                <table class="table" *ngFor="let user of projectService.users">
                    <td class="col-md-4">{{user.FirstName+' '+user.LastName}}</td>
                    <td class="col-md-4">
                      <button type="button" class="btn" (click)="selectUserToManager(user)" >Select User</button>
                    </td>
                    </table>
            </div>
            <div class="modal-footer">
              <button type="button" id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
  <!-- code for modalbox ends   -->
  <br>
  <div class="row">
      <div class="col-md-2">
          <label for="Project">Task:</label>
      </div>
      <div>
      </div>
      <div class="col-md-6">
          <input type="text" name="TaskName" #TaskName="ngModel"   [(ngModel)]="taskService.selectedTask.Task"
           id="task"  class="form-control"/>        
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-2">         
      </div>
      <div class="col-md-6">
      <input type="checkbox" name="ParentTask" 
       value="ParentTask"  > Parent Task <br>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-2">
          <label for="Priority">Priority</label>
      </div>
      <div class="col-md-6">
            <input type="range" name="Priority" #Priority="ngModel"  [(ngModel)]="taskService.selectedTask.Priority"
             class="form-control-range" value="0" id="formControlRange">
      </div>
  </div>
  <div class="row">
      <div class="col-md-2">
          <label for="Project">Parent Task:</label>
      </div>    
      <div class="col-md-3">
          <input type="text" name="ParentTask" #ParentTask="ngModel"  [(ngModel)]="taskService.selectedTask.Priority"
           id="PTaskName" class="form-control"/>        
      </div>
      <div class="col-md-2">
       <button type="button" value="Search" class="btn btn-primary btn-round-sm btn-sm">Search</button>
      </div>    
  </div><br>
  <div class="row">
      <div class="col-md-2">
            <label for="StartDate">Start Date:</label>
      </div>
      <div class="col-md-3">
            <input type="date" name="StartDate" #StartDate="ngModel"
             [ngModel]="taskService.selectedTask.End_Date | date:'dd-MM-yyyy'"             
              class="form-control">            
             
      </div>
      <div class="col-md-2">
            <label for="EndDate">End Date:</label>
      </div>
      <div class="col-md-3">
            <input type="Date" name="EndDate" #EndDate="ngModel"   [(ngModel)]="taskService.selectedTask.End_Date"
            class="form-control">
      </div>
  </div>
  <br/>
  <div class="row" >
      <div class="col-md-2">
          <label >User</label>
      </div>
      <div class="col-md-3">
            <input type="text" name="userName" #userName="ngModel"  [(ngModel)]="taskService.selectedTask.Priority"
             id="userName" class="form-control" disabled/>        
        </div>
      <div class="col-md-3">
            <button type="button" id="btnUserSearch" value="Search"
             class="btn btn-primary btn-round-sm btn-sm" 
             data-toggle="modal" data-target="#userModal"
             >Search</button>
        </div>
  </div>
  <!-- ----Code for Modal -->
  <div class="modal fade" id="userModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">UsersList</h4>
            </div>
            <div class="modal-body">            
                <table class="table" *ngFor="let user of userslist">
                    <td class="col-md-4">{{user.FirstName+' '+user.LastName}}</td>
                    <td class="col-md-4">
                      <button type="button" class="btn" (click)="selectUserToTask(user)" >Select User</button>
                    </td>
                    </table>
            </div>
            <div class="modal-footer">
              <button type="button" id="userCloseButton" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
  <!-- code for modalbox ends   -->
  <br>
  <div class="row" style="text-align: center;padding:5px;">
    <!-- [disabled]="!userForm.isvalid" -->
    <button  id="btnSubmit" type="submit" (click)="onSubmit" class="btn btn-primary">Add Task</button>
    <button type="button" class="btn btn-primary" (click)="resetForm(taskForm)"
     style="margin-left:20px;">Reset</button>
  </div>
</div>

</form>
