<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h2 class="jumpotron bg-secondary text-white">Project Manager</h2>
  </div>
   <div class="container">     
     <nav class=" nav">
       <ul class="nav navbar-nav">
          <li>
              <a routerLinkActive="active" routerLink="Projects">Add Project</a>
            </li>
         <li>
           <a routerLinkActive="active" routerLink="tasks">Add Task</a>
         </li>
         <li>
            <a routerLinkActive="active" routerLink="Users">Add User</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="Taskslist">View Task</a>
            </li>        
       </ul>
      </nav>
      <router-outlet></router-outlet>
   </div>





