
<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <input type="hidden" name="Project_ID" #Project_ID="ngModel" 
        [(ngModel)]="projectService.selectedproject.Project_ID">
<div class="container">
  <div class="row">
      <div class="col-md-2">
          <label for="Project">Project:</label>
      </div>    
      <div class="col-md-3">
          <input type="text" #ProjectName="ngModel" [(ngModel)]="projectService.selectedproject.Project"
           id="projectName" name="ProjectName"  class="form-control"/>        
      </div>        
  </div>
  <br>
  <div class="row">
      <div class="col-md-2">
          
      </div>
      <div>
      </div>
      <div class="col-md-10">
        <div class="col-md-4">
        <input type="checkbox">
        <label >Set Start Date and End Date</label>        
      </div>
      <div class="col-md-6">
        <input type="Date" name="StartDate" #StartDate="ngModel" [(ngModel)]="projectService.selectedproject.Start_Date"             
        class="form-control spacer textWidth" style="display:inline-block" placeholder="Start Date" />
        <input type="Date" name="EndDate" #EndDate="ngModel" [(ngModel)]="projectService.selectedproject.End_Date"             
        class="form-control spacer textWidth" style="display:inline-block" placeholder="Start Date" />
       
        
      </div>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-2">
          <label for="Priority">Priority</label>
      </div>
      <div class="col-md-6">
            <input type="range" #Priority="ngModel" name="Priority" [(ngModel)]="projectService.selectedproject.Priority"
             class="form-control-range" value="0" id="formControlRange">
      </div>
  </div>
  <div class="row">
      <div class="col-md-2">
          <label for="Project">Manager</label>
      </div>    
      <div class="col-md-3">
          <input type="text" name="Manager" #Manager="ngModel"  [(ngModel)]="projectService.selectedproject.User_Name"
            class="form-control"/>        
      </div>
      <div class="col-md-2">
       <button value="Search" class="btn btn-primary btn-round-sm btn-sm" data-toggle="modal" data-target="#myModal">Search</button>
      </div>    
  </div>
  <!-- ----COde for Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">UsersList</h4>
          </div>
          <div class="modal-body">
            <div>{{projectService.selectedproject.Project}}</div>
              <table class="table">
                  <td>Yesy a</td>
                  <td>
                    <button class="btn" >Select User</button>
                  </td>
                  </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
<!-- code for modalbox ends   -->
  <br>
  <div class="row" style="text-align: center;padding:5px;">
    <!-- [disabled]="!userForm.isvalid" -->
    <button  id="btnSubmit" type="submit" (click)="onSubmit" class="btn btn-primary">Add Project</button>
    <button type="input" class="btn btn-primary" (click)="resetForm(projectForm)"
     style="margin-left:20px;">Reset</button>
  </div>
</div>
</form>