.tile
{
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(228, 222, 222);
    margin-bottom: 10px;
    width: 100%;
}
.spacer
{
    margin-left: 5px;
}