
<div class="row border border-primary" style="padding:5px">
    <div class="col-md-4">
        <input class="form-control" placeholder="Search..." 
        type="text" [(ngModel)]="SearchText" />
        </div>
        <div class="col-md-8 ">
                <label >Sort Task By:</label>              
               
                        <button class="btn btn-secondary spacer" >Start Date</button>
                      
                                <button class="btn btn-secondary spacer" >End Date</button>
                               
                                        <button class="btn btn-secondary spacer" >Priority</button> 
                                        <button class="btn btn-secondary spacer" >Completed</button>   
                                        </div>
</div>

<ul class="list-group">
<li class="list-group-item list-group-item"
 *ngFor="let task of taskService.taskslist | userFilter:SearchText">
 <input type="hidden" name="Task_ID" #Task_ID="ngModel" 
    [(ngModel)]="task.Task_ID">
    <table class="table" style="margin-top: 10px;">
        <th class="col-md-2">Task </th>
        <th class="col-md-2">Parent Task</th>
        <th class="col-md-1">Priority</th>
        <th class="col-md-2">Start</th>
        <th class="col-md-2">End</th>
        <th class="col-md-3"></th>
        <tr >
        <td style="padding:5px;">
          <div class="col-md-2 tile">
            {{task.Task1}}
          </div>
        </td>
        <td style="padding:5px;">
          <div class="col-md-2 tile">
              {{task.ParentTask}}
          </div>
        </td>
        <td style="padding:5px;">
          <div class="col-md-2">
              {{task.Priority}}
          </div>
        </td>
        <td>
          <div class="col-md-2" style="width:100%">
              {{task.Start_Date}}
          </div>
        </td>
        <td>
          <div class="col-md-2" style="width:100%">
              {{task.End_Date}}
          </div>
        </td>
        <td>
          <div class="col-md-4" style="width:100%;display:inline-block;">
           <button class="btn" >Edit</button>
           <button class="btn spacer" >End Task</button>
          </div>
        </td>
        </tr>
      </table>
</li>
</ul>



